body{
    font-family: helvetica, verdana, sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 130px;
    text-align: center;
    width: 100%;
    border-bottom: solid 2px black;
    position: relative;
}

.nav{
    position: absolute;
    left: 100px;
    top: 70px;
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav ul li{
    display: inline;
    margin-right: 20px;
}

header a{
    margin-left: 10px;
    text-decoration: none;
    color: rgb(89, 92, 92);
}

header span a{
    color: red;
}

header span a:hover{
    color: rgb(238, 129, 129);
}

header a:hover{
    color: rgb(165, 165, 165);
}

header .logo a img{
    width: 177px;
}

.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pesquisar{
    position: absolute;
    right: 100px;
    top: 60px;
}

header input{
    background-image: url(../images/lupa.png);
    background-position: 15px center;
    background-size: 15px;
    background-repeat: no-repeat;
    background-color: rgb(219, 219, 219);
    padding: 10px 50px;
    padding-right: 0px;
    border-radius: 50px;
    border: 1px solid black;
    width: 261px;
    outline: none;
}

header input ::-webkit-search-cancel-button{
    display: none;
}

.sacola{
    position: absolute;
    right: 52px;
    top: 60px;
}

.sacola img{
    height: 35px;
    border: 1px solid   transparent;
    transition: 0.5s;
}

.sacola img:hover{
    opacity: 80%;
    box-shadow: 1px 1px 5px #000;
    border-radius: 15px;
    transition: 0.5s;
}

.avatar{
    position: absolute;
    right: 10px;
    top: 61px;
}

.avatar img{
    height: 27px;
    padding: 4px;
    border: 1px solid   transparent;
    transition: 0.5s;
}

.avatar img:hover{
    opacity: 80%;
    box-shadow: 1px 1px 5px #000;
    border-radius: 15px;
    transition: 0.5s;
}

footer{
    background-color: #D9D9D9;
    border-top: solid 2px black;
}

.logo-footer{
    text-align: center;
    padding: 30px;
}

.logo-footer img{
    width: 150px;
}

.logo-footer p{
    margin: 0;
}

.contato-footer{
    text-align: center;
    padding-bottom: 20px;
}

/*Começo da estilização do conteúdo*/

.conteudo{
    background-color: #684c8f;
    overflow:hidden;
    margin: 20px;
    padding: 40px;
    height: 470px;
}

.container-esquerda{
    float: left;
    width: 50vw;    
    height: 35vh;
    text-align: center;
    margin-top: 70px;
}

.container-esquerda h1{
    font-size: 45px;
    font-weight: 400;
    display: block;
    text-align: center;
    margin: 0;
}

.container-esquerda img{
    width: 400px;
}

.container-direita{
    display: inline-block;
    position: relative;
    background-color: #D9D9D9;
    width: 500px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}
.container-direita h2{
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 32px;
}

.container-direita input{
    display: block;
    background-color: #D9D9D9;
    width: 80%;
    margin: 10px auto;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    padding: 4px;
}

.container-direita label {
    display: block;
    text-align: left;
    margin: 10px auto;
    width: 80%;
    font-size: 16px;
}

.container-direita button {
    width: 415px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #391450;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-direita img {
    width: 30px;
    vertical-align:middle;
}

.container-direita .botaogoogle{
    display: inline-block;
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    color: #000;
    border: 1px solid #000;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
}

.container-direita a img {
    vertical-align: middle;
    margin-right: 10px;
}

.divesquecisenha a{
    margin-top: 50px;
    text-decoration: none;
    color:brown ;
}