body{
    font-family: helvetica, verdana, sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 130px;
    text-align: center;
    width: 100%;
    border-bottom: solid 2px black;
    position: relative;
}

.nav{
    position: absolute;
    left: 100px;
    top: 70px;
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav ul li{
    display: inline;
    margin-right: 20px;
}

header a{
    margin-left: 10px;
    text-decoration: none;
    color: rgb(89, 92, 92);
}

header span a{
    color: red;
}

header span a:hover{
    color: rgb(238, 129, 129);
}

header a:hover{
    color: rgb(165, 165, 165);
}

header .logo a img{
    width: 177px;
}

.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pesquisar{
    position: absolute;
    right: 100px;
    top: 60px;
}

header input{
    background-image: url(../images/lupa.png);
    background-position: 15px center;
    background-size: 15px;
    background-repeat: no-repeat;
    background-color: rgb(219, 219, 219);
    padding: 10px 50px;
    padding-right: 0px;
    border-radius: 50px;
    border: 1px solid black;
    width: 261px;
    outline: none;
}

header input ::-webkit-search-cancel-button{
    display: none;
}

.sacola{
    position: absolute;
    right: 52px;
    top: 60px;
}

.sacola img{
    height: 35px;
    border: 1px solid   transparent;
    transition: 0.5s;
}

.sacola img:hover{
    opacity: 80%;
    box-shadow: 1px 1px 5px #000;
    border-radius: 15px;
    transition: 0.5s;
}

.avatar{
    position: absolute;
    right: 10px;
    top: 61px;
}

.avatar img{
    height: 27px;
    padding: 4px;
    border: 1px solid   transparent;
    transition: 0.5s;
}

.avatar img:hover{
    opacity: 80%;
    box-shadow: 1px 1px 5px #000;
    border-radius: 15px;
    transition: 0.5s;
}

.sobre{
    text-align: center;
    padding: 100px;
}

.sobre h1{
    font-size: 60px; 
}

.sobre p{
    text-align: left;
    font-size: 20px;
    
}

.quemsomos{
    text-align: center;
    height: 800px;
}

.quemsomos h1{
    font-size: 60px; 
}

.container{
    padding: 40px 10px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}
.container #imagemperfil{
    height: 310px;
    width: 310px;
    border-radius: 50%;
}

.container .perfil{
    display: table-caption;
}

.links{
    align-items: center;
    padding-left: 22px;
}

.links a{
    display: block;
    width: 100px;
    text-decoration: none;
    color: #000;
    font-weight: lighter;
    padding: 0;
    margin: 0 auto 5px;
}

.links .linkedin{
    background-image: url(../images/linkedin.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 18px;
}

.links .github{
    width: 90px;
    padding-right: 10px;
    background-image: url(../images/github.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 18px;
}

.links a img{
    width: 20px;
    margin-right: 5px;
    
}

footer{
    background-color: #D9D9D9;
    border-top: solid 2px black;
}

.logo-footer{
    text-align: center;
    padding: 30px;
}

.logo-footer img{
    width: 150px;
}

.logo-footer p{
    margin: 0;
}

.contato-footer{
    text-align: center;
    padding-bottom: 20px;
}

a .perfil{
    text-decoration: none;
}